.formWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.inputTabs {
	display: flex;
	align-items: center;
	gap: 15px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.label span {
	display: inline-block;
	margin-top: 5px;
}

.error {
	border: 1px solid red;
	
	&::placeholder {
		color: red;
	}
}

.errorText {
	color: red;
}

.button {
	max-width: 330px;
	width: 100%;
	margin: 0 auto;
	
	@media (max-width: 375px) {
		width: 100% !important;
	}
}
