.formWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.inputTabs {
	display: flex;
	align-items: center;
	gap: 15px;
	
	button {
		width: 33.333%;
	}
	
	@media (max-width: 660px) {
		gap: 0;
		border-radius: 10px;
		overflow: hidden;
		
		button {
			border-radius: 0;
		}
	}
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.label span {
	display: inline-block;
	margin-top: 5px;
}

.button {
	width: 100%;
	margin: 0 auto;
	
	@media (max-width: 375px) {
		width: 100% !important;
	}
}

.text {
	text-align: center;
	font-size: 16px;
}
