.form {
	display: flex;
	flex-direction: column;
	gap: 15px;

	button {
		max-width: 300px;
		
		@media (max-width: 375px) {
			width: 100% !important;
			margin: 0 auto;
		}
	}
}

.formBox {
	display: flex;
	align-items: center;
	gap: 15px;
	
	@media (max-width: 480px) {
		flex-direction: column;
	}
}

.deliveryTitle {
	font-size: 18px;
	margin-bottom: 8px;
}

.deliveryBox {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	
	@media (max-width: 375px) {
		align-items: flex-start;
		flex-direction: column;
	}
}

.agree {
	max-width: 420px;
	display: flex;
	align-items: center;
	gap: 8px;
	text-wrap: balance;
	font-size: 14px;
	cursor: pointer;
	
	a {
		color: blue;
		text-decoration: underline;
	}
}

.checkbox {
	accent-color: var(--accent-color);
	width: 44px;
	height:44px;
}

.checkboxEroor {
	font-size: 14px;
}
