.title {
	font-size: 48px;
	font-weight: 800;
	line-height: 1.1;
	margin-bottom: 35px;
	
	@media (max-width: 768px) {
		font-size: 48px;
		
		span {
			display: block;
		}
	}
	
	@media (max-width: 375px) {
		font-size: 38px;
	}
}

.formWrapper {
	position: relative;
	
	@media (max-width: 768px) {
		flex-direction: column;
		margin-bottom: 40px;
	}
	
	@media (max-width: 660px) {
		&::before {
			bottom: -85px !important;
		}
	}
}

.video {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -300px;
	object-fit: cover;
	max-width: 960px;
	touch-action: none;
	z-index: -2;
	
	@media (max-width: 991px) {
		max-width: clamp(21.25rem, -56.016rem + 187.31vw, 60rem); //960 - 340
		right: -232px;
	}
	
	@media (max-width: 768px) {
		top: 0;
		transform: none;
		right: -182px;
	}
	
	@media (max-width: 480px) {
		display: none;
		height: 0;
		width: 0;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
	}
}
