.section {
	position: relative;
	padding-top: 85px;
	padding-bottom: 85px;
	
	@media (max-width: 660px) {
		padding-top: 40px;
	}
}

.wrapper {
	display: flex;
}

.inner {
	flex: 1 1 50%;
	
	@media (max-width: 660px) {
		flex: 1 0 100%;
		width: 100%;
	}
}

.title {
	font-size: 48px;
	font-weight: 800;
	
	span {
		color: var(--accent-color);
	}
	
	@media (max-width: 660px) {
		font-size: 36px;
	}
}
