.title {
	font-size: 60px;
	font-weight: 800;
	line-height: 1.1;
	margin-bottom: 35px;
	
	@media (max-width: 660px) {
		font-size: 48px;
	}
	
	@media (max-width: 375px) {
		font-size: 38px;
	}
}

.formWrapper {
	position: relative;
}

.video {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -300px;
	object-fit: cover;
	z-index: -1;
	max-width: 960px;
}
