.button {
	display: block;
	outline: none;
	white-space: nowrap;
	transition: .3s;
	cursor: pointer;
	
	&.loading {
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--orange-color);
	}
}

.primary {
	font-weight: 500;
	border-radius: 10px;
	color: var(--light-color);
	background: var(--accent-color);
	
	&:hover {
		background-color: var(--orange-color);
	}
}

.secondary {
	border-radius: 5px;
	background-color: var(--gray-color);
	color: #bbb;
	
	&.active {
		color: var(--light-color);
		background: var(--accent-color);
	}
}

.select {
	border: 2px solid var(--accent-color);
	font-weight: 600;
	color: var(--accent-color);
	border-radius: 5px;
}

.sm {
	padding: 0.25em 0.5em;
	font-size: 0.8rem;
}

.md {
	padding: 0.5em 1em;
	font-size: 1rem;
}

.lg {
	padding: 0.70em 1.5em;
	font-size: 20px;
}

.xl {
	padding: 20px 50px;
	font-size: 20px;
	max-height: 65px;
}

@media (max-width: 480px) {
	.lg {
		padding: 0.70em 0.5em;
		font-size: 18px;
	}
}

@media (max-width: 375px) {
	.button {
		font-size: 14px;
	}
	
	.lg {
		padding: 1em 0.5em;
	}
}
