.questions {
	overflow: hidden;
	gap: 40px;
	
	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: -40px;
		width: 200px;
		height: 200px;
		background-image: url("../../assets/img/absorber.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position-x: right;
		z-index: -1;
		
		@media (max-width: 660px) {
			top: 50px;
			right: -30px;
			max-width: 150px;
		}
	}
	
	&::after {
		content: "";
		position: absolute;
		top: -50%;
		left: 86px;
		height: 200%;
		width: 300px;
		background-color: lightgreen;
		opacity: 0.3;
		rotate: 21deg;
		z-index: -1;
		
		@media (max-width: 991px) {
			left: -14%;
		}
		
		@media (max-width: 660px) {
			content: none;
		}
	}
	
	@media (max-width: 660px) {
		flex-direction: column;
	}
	
	h2 {
		span {
			display: block;
		}
	}
}

.img {
	display: block;
	margin: 0 auto;
	max-width: 250px;
	
	@media (max-width: 660px) {
		display: none;
	}
}
