.pagination {
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.mainPage{
	color: var(--green-color);
	transition: 0.3s;
	
	&:hover{
		color: var(--main-color);
	}
}

.page {
	font-size: 18px;
	font-weight: 600;
}

